<fieldset>
  <legend></legend>
  <%= form_for([@room, meeting], remote: true, html: { class: 'form-horizontal'}) do |f| %>

      <div class='error' id="<%= meeting.new_record? ? 'error_explanation' : 'error_explanation_edit' %>">

      </div>

      <div class="row">
        <div class="col-xs-7">
          <div class="form-group">
            <%= f.label 'Title', class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.hidden_field :room_id  %>
              <%= f.text_field :name , class: 'form-control' %>
            </div>
          </div>


          <div class="form-group">
            <%= f.label 'Description' , class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_area :description , class: 'form-control ck-editor' %>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group" >
            <%= f.label 'Date', class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <div class="mdp"></div>
              <%= text_field_tag :date, meeting.meeting_dates.map(&:date).map(&:to_date), class: 'date form-control', style: "position:relative; display: none" %>
            </div>
          </div>

          <% times =  (6..11).map{|hour| ["#{hour}:00AM", "#{hour}:15AM", "#{hour}:30AM", "#{hour}:45AM"] } %>
          <% times += (12..12).map{|hour| ["#{hour}:00PM", "#{hour}:15PM", "#{hour}:30PM", "#{hour}:45PM"] } %>
          <% times += (13..23).map{|h| hour = h -12
          ["#{hour}:00PM", "#{hour}:15PM", "#{hour}:30PM", "#{hour}:45PM"] } %>
          <% times.flatten! %>
          <div class="form-group">
            <%= f.label 'Time start', class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.select 'time_start', options_for_select(times, selected: (meeting.time_start || Time.now).strftime('%I:%M%p').gsub(/^0/, '')) %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label 'Time end' , class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.select :time_end, options_for_select(times, selected: (meeting.time_end || Time.now).strftime('%I:%M%p').gsub(/^0/, '')) %>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" >
        <div class="col-md-12">
          <%if meeting.persisted?%>
              <%= link_to 'Delete', room_meeting_path(@room, meeting), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger pull-right' %>
          <%end %>
          <%= link_to 'Cancel', '#', class: 'btn btn-warning pull-right cancel_meeting_modal' %>
          <%= f.submit 'Save', class: 'btn btn-success pull-right' %>
        </div>
      </div>
  <% end %>
</fieldset>

<script>
    function reset(){
        $('#error_explanation').html('');
    }
    $('.cancel_meeting_modal').off();
    $('.cancel_meeting_modal').on('click', function(e){
        e.preventDefault();
        $('.modal').modal('hide');
    });

    $('.mdp').multiDatesPicker({
        dateFormat: "yy-mm-dd",
        altField: '.date',
        addDates: <%= raw meeting.meeting_dates.map(&:date).map(&:to_date).map(&:to_s) %>,
        minDate: 0,
        "prevText":'<i class="fa fa-chevron-left"></i>',
        "nextText":'<i class="fa fa-chevron-right"></i>'
    })
</script>
<style>
  div.fc-event-container .fc-time-grid-event
  {
    min-height: 20px;
  }
</style>